<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      .card {
        margin-bottom: 2em;
      }
    </style>
  </head>
  <body>
    <div class="container mt-4">
      <h1>My Experience</h1>
      <div class="row mt-4">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Junior fullstack developer</h5>
              <h5>Dimensione Creativa</h5>
              <h5>October 2021 - October 2022</h5>
              <p class="card-text">
                As a Junior Fullstack Developer at Dimensione Creativa, I played
                a crucial role in developing responsive web applications. I
                utilized a range of technologies including HTML, CSS,
                JavaScript, React, and Node.js to create applications that were
                optimized for various devices. Additionally, I actively reported
                my work progress and collaborated with team members using GitHub
                and Jira, ensuring smooth communication and efficient project
                management. Through this experience, I gained valuable hands-on
                experience in fullstack development and honed my skills in
                front-end and back-end technologies.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manual Tester</h5>
              <h5>SPIID</h5>
              <h5>July 2020 - August 2020</h5>
              <p class="card-text">
                During my time at Spiid as a Manual Tester, I collaborated
                closely with senior developers and project managers to gain a
                comprehensive understanding of project requirements and desired
                changes. My primary responsibility involved conducting manual
                testing of database systems to identify and report any issues or
                bugs that needed attention. Additionally, I actively
                participated in implementing minor changes to database
                management projects. This included tasks such as modifying
                tables, adding or removing fields, and updating existing data as
                necessary. Through this experience, I developed strong attention
                to detail and honed my ability to effectively communicate and
                collaborate with cross-functional teams.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
