<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      .card {
        margin-bottom: 2em;
      }
    </style>
  </head>
  <body>
    <div class="container mt-4" style="padding-bottom: 1em">
      <h1>My Portfolio</h1>
      <div class="row mt-4">
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/static/src/DBMSpreview.png"
              class="card-img-top"
              alt="DatabaseManagementSystem"
            />
            <div class="card-body">
              <h5 class="card-title">DBMS</h5>
              <p class="card-text">
                Developed a web-based database management system using Django
                for the backend and Bootstrap, HTML, and JavaScript for the
                frontend. The system provided CRUD functionality for managing
                relational databases, including dynamic table views, record
                creation, and deletion with cascading effects. Utilized SQL
                Server Management Studio (SSMS) as the database server
                management system and worked independently on the project.
              </p>
              <p>
                Technologies: Django, Bootstrap, HTML, JavaScript, SQL Server
                Management Studio (SSMS)
              </p>
              <a href="https://github.com/Zciwolvo/DatabaseManagementSystem"
                >Github</a
              >
              <p>Live preview:<b>Currently not available</b></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/static/src/Snakepreview.png"
              class="card-img-top"
              alt="SankeAI"
            />
            <div class="card-body">
              <h5 class="card-title">SnakeAI</h5>
              <p class="card-text">
                It is a Snake game implemented using Python and the Pygame
                library for graphics and user input. In addition to the
                traditional gameplay, I integrated an AI player using the Torch
                library, where I implemented a deep reinforcement learning
                algorithm to enable the AI to play the game on its own. To
                efficiently manipulate and process data, I utilized the Numpy
                library. Furthermore, I employed the Matplotlib library to
                visualize the data, which enhanced the understanding of the AI's
                performance during gameplay.
              </p>
              <p>Technologies: Python, Pygame, Torch, Numpy, and Matplotlib</p>
              <a href="https://github.com/Zciwolvo/snakeAI">Github</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/static/src/GrapApppreview.png"
              class="card-img-top"
              alt="GraphApp"
            />
            <div class="card-body">
              <h5 class="card-title">Graph App</h5>
              <p class="card-text">
                GraphApp is a web-based graph visualization tool that I
                developed. The project utilizes Python, Flask, and SocketIO on
                the backend, along with JavaScript and HTML on the frontend. The
                application generates a randomized matrix to create a graph,
                which is then displayed on a canvas. Users have the ability to
                interact with the graph by moving vertices to their desired
                positions.
              </p>
              <p>
                Technologies: Python, Flask, SocketIO, JavaScript, HTML, Heroku,
                gunicorn
              </p>
              <a href="https://github.com/Zciwolvo/GraphApp">Github</a>
              <p>
                Live preview:<a href="http://zciwolvo.pythonanywhere.com/"
                  ><b>http://zciwolvo.pythonanywhere.com/ </b></a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/static/src/Ecommercepreview.png"
              class="card-img-top"
              alt="Ecommerce"
            />
            <div class="card-body">
              <h5 class="card-title">Ecommerce Shop Frontend:</h5>
              <p class="card-text">
                I developed the frontend for an ecommerce shop using React,
                JavaScript, HTML, and CSS. The project involved creating a
                user-friendly interface with features such as product listing,
                search functionality, shopping cart management, and user
                authentication.
              </p>
              <p>Technologies: React, JavaScript, HTML, CSS</p>
              <a href="https://github.com/Zciwolvo/ecommerce_ex">Github</a>
              <p>
                Live preview:<a href="http://ecommerce-ex.vercel.app/"
                  ><b>http://ecommerce-ex.vercel.app/ </b></a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/static/src/Hmmcoinpreview.png"
              class="card-img-top"
              alt="hmmmm"
            />
            <div class="card-body">
              <h5 class="card-title">Hmmcoin widget</h5>
              <p class="card-text">
                As a freelance project, I developed the Quickswap app using
                TypeScript and React. The app serves as a secure and
                user-friendly widget that seamlessly connects to users' digital
                wallets and facilitates the smooth exchange of cryptocurrencies.
                The project incorporates essential security measures, real-time
                data feeds, and APIs to ensure accurate market conditions for a
                reliable trading experience.
              </p>
              <p>Technologies: TypeScript, React, QuickSwap API</p>
              <a href="https://github.com/Zciwolvo/Quickswap/tree/source"
                >Github</a
              >
              <p>
                Live preview:<a href="https://hmmcoin.com"
                  ><b>https://hmmcoin.com </b></a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/static/src/moviedbpreview.png"
              class="card-img-top"
              alt="moviedb"
            />
            <div class="card-body">
              <h5 class="card-title">React Movie Database App</h5>
              <p class="card-text">
                React Movie Database App is a web application built using React
                that utilizes a movie database API to display information about
                movies. The app allows users to explore the most popular movies
                and provides various filter options to customize the movie list
                based on type, release date, and popularity. Additionally, users
                can add movies to their watch list and favorites, which are
                saved in the local browser storage for easy access. The app
                offers an interactive and user-friendly interface, providing an
                enjoyable movie browsing experience for users.
              </p>
              <p>
                Technologies: React, JavaScript, HTML, CSS, Movie Database API
              </p>
              <a href="https://github.com/Zciwolvo/React-movie-db">Github</a>
              <p>
                Live preview:<a
                  href="https://zciwolvo.github.io/React-movie-db/"
                  ><b>https://zciwolvo.github.io/React-movie-db/</b></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
