<!DOCTYPE html>
<html>
  <head>
    <title>Technologies</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      .technology-image {
        max-width: 100px;
        margin: 10px;
      }

      @media (max-width: 576px) {
        .technology-image {
          max-width: 80px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container mt-4">
      <h1>Technologies I use</h1>
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://www.python.org">
            <img
              src="https://www.svgrepo.com/show/374016/python.svg"
              alt="Python"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://www.djangoproject.com">
            <img
              src="https://www.svgrepo.com/show/353657/django-icon.svg"
              alt="Django"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://flask.palletsprojects.com">
            <img
              src="https://www.svgrepo.com/show/508915/flask.svg"
              alt="Flask"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="/">
            <img
              src="https://www.svgrepo.com/show/127001/sql-file-format.svg"
              alt="SQL"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://docs.microsoft.com/en-us/dotnet/csharp">
            <img
              src="https://www.svgrepo.com/show/452184/csharp.svg"
              alt="C#"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
            <img
              src="https://www.svgrepo.com/show/452045/js.svg"
              alt="JavaScript"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://reactjs.org">
            <img
              src="https://www.svgrepo.com/show/354259/react.svg"
              alt="React"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://git-scm.com">
            <img
              src="https://www.svgrepo.com/show/452210/git.svg"
              alt="Git"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://www.docker.com">
            <img
              src="https://www.svgrepo.com/show/448221/docker.svg"
              alt="Docker"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019">
            <img
              src="https://www.svgrepo.com/show/303360/nodejs-logo.svg"
              alt="Node"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://www.postgresql.org">
            <img
              src="https://www.svgrepo.com/show/354200/postgresql.svg"
              alt="PostgreSQL"
              class="img-fluid technology-image"
            />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <a href="https://getbootstrap.com">
            <img
              src="https://www.svgrepo.com/show/303293/bootstrap-4-logo.svg"
              alt="Bootstrap"
              class="img-fluid technology-image"
            />
          </a>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
